body header {
  background-image: url("https://raw.githubusercontent.com/Neuromatica/korotkov.github.io/master/img/i_main.JPG");
  background-repeat: no-repeat;
  background-size: 100%;
}

body header h4 {
  padding-top: 50%;
  text-align: center;
}

body header .col-md-6 {
  padding-top: 30%;
  color: white;
}

body header .col-md-6 #r1 {
  padding-top: 5px;
  padding-right: 10px;
  padding-bottom: 5px;
  text-align: right;
  background: rgba(0, 0, 0, 0.5);
}

body header .col-md-6 #r1 a {
  color: white;
  margin: 5px;
}

body header .col-md-6 #r1 a:hover {
  color: #eee;
}

body header .col-md-6 #r2 {
  padding-left: 100px;
  padding-bottom: 20px;
  background: rgba(0, 0, 0, 0.3);
  font-family: 'Play', sans-serif;
}

body header .col-md-6 #r2 h1 {
  letter-spacing: -3px;
  font-size: 500%;
  margin: 0px;
}

body header .col-md-6 #r2 h3 {
  letter-spacing: 5px;
  font-size: 200%;
  margin: 0px;
  margin-left: 100px;
}

body #social {
  position: fixed;
  bottom: 30%;
  left: 96%;
  text-align: center;
  background: rgba(255, 255, 255, 0.1);
  -webkit-animation-duration: 0.4s;
}

body #social i {
  font-size: 250%;
  margin: 15px;
  color: white;
  -webkit-animation-delay: 0.2s;
  -webkit-animation-duration: 0.6s;
}

body #present {
  background: #1a2434;
  color: white;
}

body #present #rpp {
  margin-top: -60px;
  text-align: center;
}

body #present #rp1 {
  padding-top: 20px;
  text-align: center;
}

body #present #rp1 #rp1t2 {
  -webkit-animation-delay: 0.6s;
}

body #present #rp1 #rp1hr {
  width: 30%;
  -webkit-animation-delay: 0.3s;
  -webkit-animation-duration: 1.4s;
}

.hidden {
  display: none;
}
